
html,
body {
    min-width: 100%;
    padding:0;
    margin:0;
    color: #fddaec;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    height: 100%;
    line-height: 1.45;
    overflow-x: hidden; 
}

.container {
    padding: 0em;
    margin: 0em;
    width: 100%;
    /*position: relative;*/
    /*overflow-x: hidden;*/
}

.row {
    padding: 0em;
    margin: 0em;
    width: 100%;
   /* overflow-x: hidden;*/
}

.col.s4 {
    padding: 0em;
    margin: 0em;
}


.modal-content a {
  color: #ff00fa;
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
  font-size:60px;
}

/*==================Title  ===================*/


/* Video Overlay */

#overlay {
    background-color: rgba(0, 0, 0, .1);
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    transition: background-color 300ms ease;
    width: 100%;
}

.fade {
    background-color: rgba(0, 0, 0, .0) !important;
}


/* explosion Video + Fallback */

#explosion-vid {
    backface-visibility: hidden;
    background: url("img/explosion.png") no-repeat scroll 0 0 #000;
    background-size: cover;
    top: 0;
    height: 100%;
    perspective: 1000;
    position: fixed;
    right: 5%;
    width: auto;
    /*max-width:70%;*/
    z-index: -1;
    overflow-x:hidden;
}

#mp4{
    width:100%;
}

#explosion-pic {
    display: block;
    height: auto;
    width: 100%;
}

#state {
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    cursor: pointer;
    font-size: 2.25em;
    left: 0;
    padding: 0.55em 1.05em 0.35em 1em;
    position: absolute;
}


/* Content Styles */

#content p {
    font-size: 1.25em;
    letter-spacing: .02em;
    margin-bottom: 1.3em;
}

.col.s12 {
    text-align: center;
}

#name {
    padding-top: 100px;
    text-align: center;
    width: 30%;
}


/*================================About Me================*/

h4 {
    /*text-align:center;*/
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
    
}

h2{
  font-weight:bold;
}
.grayFont{
    color:#808084;
}


#introRow {
    width:100%;
    margin-top: 10px;
    /*padding-left: 50px;
    padding-right:50px;*/
    padding-top: 30px;
    padding-bottom:20px;
    color: #6e0bbf;
}

.pinkFont {
 color: #ff00fa;
 font-weight:black;
}

#myImg {
    width: 90%;
    /*float:left;*/
    /*border: 2px solid #fc9b25;*/
}

#aboutMeParagraph{
    width:100%;
    font-size:16px;
    text-align: justify; 
}

.red{
    font-size:40px;
    color:red;
}

#aboutMe{
   background-color:#f8efff;
   padding:40px; 
}

#whoAmI {
    width:100%;
    /*height: auto;*/
    max-height:650px;
    margin-bottom: 40px;
    
    /*clear:both;*/
   /* margin-right:65px;*/
}

#whoAmI h3 {
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    
}



#aboutMeContainer {
    width:100%;
    background-color: #f7f8fa;
    /*padding:2em;*/
    z-index: 1;
    width: 100%;
    height:auto;
    min-height:650px;
    padding-right:80px;
    padding-left:80px;
    padding-top:10px;
    padding-bottom:60px;
}




.contactImg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    
}

#skillsImage{
    width:470px;
    height:470px;
}

#skillsTitle{
    padding:10px;
    width:50%;
     
}

#skillsTitle h4{
    font-size:30px;
}

#hobbiesImage {

    width:400px;
}



/*================================Gallery================*/

.col.m4 {
    width: 30px;
    margin: 0;
    padding: 10px;
}

#galleryContainer {
    background-color: #e5e5e5;
    padding: 0em;
    margin: 0em;
    width: 100%;
    height: auto;
}

#myWorkHeader{
    padding:30px;
    margin:0;
    text-align:center;
}

#galleryContainer a {
    color: white;
}

#galleryRow{
    width:100%;
}


/*IMAGE HOVER*/

.thumbnail {
    position: relative;
}

.thumb-img {
    margin: 0em;
    padding: 0em;
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 1;
    display: block;
    width: 100%;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.caption {
    text-align: center;
    text-shadow: .5px .5px #898989;
    padding: 10px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.thumbnail:hover .thumb-img {
    opacity: 0.1;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin: 0em;
    padding: 0em;
}
/*(248, 237, 255)*/
.thumbnail:hover {
    /*color:#3a3a3a;*/
    color:white;
    background-color: rgba(81, 81, 81, 1);
}

.thumbnail:hover .caption {
    /*background-color:rgba(110, 11, 191,.3);*/
    opacity: 1;
}

.thumb-head {
    font-weight: bold
    color:white;
}

.caption p {
    margin: 0
    padding:0;
}

h6 {
    /*text-align:center;*/
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
}


/*=========================Model Styling=======================*/


/*modal button */

#modalBtn {
    margin: 30px;
}

#menuIcon {
    color: #430051;
}

.modal-content ul{
  text-align:left;
}

/*modal when opened*/

.modal.open {
    background-color: #0f0f10;
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0 !important;
}

.modal-content {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #f3da72;
}

.modal-content li {
    margin-bottom: 100px;
}

.modal-content:hover {
    color: #d8b31c;
}


/*=========================CONTACT  Styling=======================*/

#contactContainer {
    width:100%;
    margin:0;
    background-color: #151515;
    padding-top: 70px;
    padding-bottom: 40px;
    min-height:600px;
}

.tealFont{
  color:#45d3c5;
}



/*Media Queries */

@media only screen and (max-width:768px) {
    #overlay {
        height: auto;
    }
}


/* Visibility Helpers */

@media only screen and (min-width:769px) {
    .visible-mobile,
    .visible-tablet,
    .hidden-desktop {
        display: none !important;
    }
}

@media only screen and (min-width:480px) and (max-width:768px) {
    .visible-mobile,
    .hidden-tablet,
    .visible-desktop {
        display: none !important;
    }
}

@media only screen and (max-width:479px) {
    .hidden-mobile,
    .visible-tablet,
    .visible-desktop {
        display: none !important;
    }
}
